@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bayon&display=swap');

:root{
    --dark-grey: #2F2F2F;
    --main-bg: #6756AC;
    --main-title: #3B3162;
    --text-color: #E5E3F0;
    --text-color-hover: #B2B1BB;

    --primary-font: 'Anton SC', sans-serif;
    --secondary-font: 'Bayon', sans-serif;

    --s-fs: 0.7rem;
    --m-fs: 2rem;
    --l-fs: 13rem;
    --xl-fs: 20rem;

    --logo1: 5rem;
    --logo2: 9rem;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.main-section{
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg);
    border: solid 20px var(--dark-grey);
    overflow: hidden;
}

.top-navigation{
    position: fixed;
    width: 55%;
    height: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-grey);
    z-index: 100;
    border-radius: 0 0 30px 30px;
}

.top-navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    list-style-type: none;
    margin: 0;
    padding: 0.5%;
}

.top-nav-item{
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: var(--m-fs);
    text-decoration: none;
}

.top-nav-item:hover{
    color: var(--text-color-hover);
}

.main-title{
    position: relative;
    width: 100%;
    text-align: center;
    font-family: var(--primary-font);
    font-size: var(--l-fs);
    color: var(--main-title);
    letter-spacing: -15px;
    margin-top: -12rem;
}

.blur-box{
    width: 1180px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    gap: 3%;

    background-color: #00000011;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    border: solid 1px #51515140;
}

.timer-nav{
    width: 100%;
    flex-shrink: 0;
}

.timer-nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.timer-nav-buttons a{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: var(--m-fs);
}

.timer{
    width: 100%;
}

.timer h2{
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: var(--xl-fs);
    text-align: center;
    line-height: 1;
    margin: 0;
}

.timer-controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.control-btn{
    background: none;
    border: none;
    color: var(--text-color);
}

.control-btn .material-symbols-outlined{
    font-size: var(--logo1);
}

#shortTimer{
    display: none;
}

#longTimer{
    display: none;
}

.expansion-container{
    display: none;
}